.writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  height: 100px;
  padding: 2px;
  font-size: 10px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}